

/*   Admin stuff inside site - Dont edit these */


#headerAdmin{}
	#headerAdmin a
	{
		font-family: Trebuchet MS, Arial, Helvetica;
		font-size:12px;
		text-decoration: none;
		color: #CCCCCC;
	}

#PageTemplate_Info{}
	#PageTemplate_Info a
	{
		font-family: Trebuchet MS, Arial, Helvetica;
		font-size:12px;
		color: #CCCCCC;
		text-decoration: none; 
	}

#EditModules1, EditModules2{}
	#EditModules1 a, #EditModules2 a
	{
		font-family: Trebuchet MS, Arial, Helvetica;
		font-size:12px;
		color: #CCCCCC;
		text-decoration: none; 
	}


.adminbar_gray
{
	background-color: #666666;
	padding: 5px 5px 5px 5px;
	height: 15px;
	position: relative;
	float: left;
}

.adminbar_red
{
	background-color: #666666;
	padding: 5px 5px 5px 5px;
	height: 15px;
	position: relative;
	float: left;
}

.Text11_bold_white
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.Text11_lightgray
{
	font-family: Trebuchet MS, Arial, Helvetica;
	color: #CCCCCC;
	font-size: 11px;
}

.Imagelink_noborder
{
	border: 0;
}
