
/* Social Links  ------------------------------------------------------------------------------------------------------------------------------------------ Social Links */

.social_link,.social_link:link,.social_link:visited,.social_link:hover {	font-size: 11px;	color: #505050;		text-decoration: none; }
.social_holder	{	position: relative; float: left; width: 100%; padding-top: 10px; padding-top: 10px;	display:inline; }

.icons			{	border-top: solid 1px #E1E1E1; padding-top: 4px; position: relative; float: left; width: 100%; }
.social_left { float: left;	}
.social_right { float: right;	}

/* Text Box  ------------------------------------------------------------------------------------------------------------------------------------------ Text Box */

#TextBox  {	position: relative; float: left; width: 100%; display:inline;	}
	#TextBox h1	{	}
	#TextBox h2	{	padding-top: 0px; margin-top: 0px; color: #333333;	font-size: 24px; font-weight: bold; }
	#TextBox p 	{	line-height: 20px;	}
	#TextBox p.Ingress	{	color: #68675D; padding: 20px; background-color: #F5F3E9; border: solid 1px #E2E0D4;	}
	#TextBox .tb_main { padding-bottom: 10px;	}


/* News Box  ------------------------------------------------------------------------------------------------------------------------------------------ News Box */

#News  {	position: relative; float: left; width: 100%; display:inline; padding-bottom: 20px; 	}
	#News h1	{	padding-top: 0px; margin-top: 0px; color: #333333;	font-size: 24px; font-weight: bold; }
	#News #NewsItem {	 }
	#News #NewsItem	h2	{	padding-top: 0px; margin-top: 0px; color: #333333;	font-size: 16px; font-weight: bold; }
	#News #NewsItem	p 	{	line-height: 20px;	}
	#News #NewsItem	p.Ingress	{	color: #68675D; padding: 20px; background-color: #F5F3E9; border: solid 1px #E2E0D4;	}
	#News #NewsItem	p.Introduction	{	color: #68675D; padding: 20px; background-color: #F5F3E9; border: solid 1px #E2E0D4;	}
	#News #NewsItem	em.Date	{	font-size: 10px; }


/* Media Box  ------------------------------------------------------------------------------------------------------------------------------------------ Media Box */

#MediaBox  {	position: relative; float: left; width: 100%; display:inline; padding-bottom:20px;	}
	#MediaBox img	{	border: solid 0px #fff;	}

/* Gallery Box  ------------------------------------------------------------------------------------------------------------------------------------------ Gallery Box */

#GalleryBox  {	position: relative; float: left; width: 100%; display:inline; padding-bottom:20px;	}

/* GalleryBox2  ------------------------------------------------------------------------------------------------------------------------------------------ GalleryBox2 */

#GalleryBox2  {	position: relative; float: left; width: 100%; display:inline; padding-bottom:20px;	}


/* RSSBox  ------------------------------------------------------------------------------------------------------------------------------------------ RSSBox */

#RSSBox  {	position: relative; float: left; width: 100%; display:inline; padding-bottom:20px;	}
	#RSSBox h1	{	color: #333333;	font-size: 18px; font-weight: bold;	}
	#RSSBox h2	{	color: #333333;	font-size: 12px; font-weight: bold;	}



/* Footer  ------------------------------------------------------------------------------------------------------------------------------------------ Footer */

#footer_holder  {	position: relative; float: left; width:100%; padding: 17px 0px 10px 0px; text-align: left; }
	#footer a	{	color: #868686;	}
	#footer_holder p 	{	color: #868686;	 margin: 0px; padding: 0px 10px 0 10px;	}
	#footer_holder p.Copyright	{	color: #868686; font-weight: bold; }
	#footer .column_divider		{	float: left; background-color:#CCCCCC; width: 1px; height: 96px; font-size:1px; }
	#footer .column_middle		{	float: left; width: 205px; padding-right: 9px; padding-left: 10px; }
	#footer .column_left		{	float: left; width: 205px; padding-left: 10px; padding-right: 9px; }
	#footer .column_right		{	float: left; width: 205px; padding-left: 10px; padding-right: 10px; }



/* Exit ------------------------------------------------------------------------------------------------------------------------------------------ Exit */	

#Exit  {	position: relative; float: left; width: 100%; display:inline; padding-bottom:20px; 	}
	#Exit h1	{	color: #333333;	font-size: 24px;	font-weight: bold;	}
	#Exit p 	{	line-height: 20px;	}


/* Search ------------------------------------------------------------------------------------------------------------------------------------------ Exit */	

#Search  {	position: relative; float: left; width:100%; display:inline; 	}
	#Search h1	{	color: #333333;	font-size: 24px; font-weight: bold;	}
	#Search p 	{	line-height: 20px;	}
	#Search #Title {  }
	#Search #Main {  }


/* ContactBox ------------------------------------------------------------------------------------------------------------------------------------------ ContactBox */	

#ContactBox  {	position: relative; float: left; width: 100%; display:inline;  	}
	#ContactBox h2	{	padding-top: 0px; margin-top: 0px; color: #333333;	font-size: 24px; font-weight: bold;	}
	#ContactBox p 	{	line-height: 20px;	}
	#ContactBox em			{	 font-size: 11px; }
	#ContactBox em.success	{	 color: green;	}
	#ContactBox em.error		{	 color: red;	}
	#ContactBox #button { background-color: #fff; border: solid 1px #ccc; float: right; padding: 5px;}
	#ContactBox .form_textbox { background-color: #fff; border: solid 1px #ccc; padding: 5px; width: 265px; }
	#ContactBox .form_dropdown { background-color: #fff; border: solid 1px #ccc; padding: 5px; width: 276px; }
	#ContactBox .form_textarea { background-color: #fff; border: solid 1px #ccc; padding: 5px; width: 265px; height:200px; }


/* Tabtext ------------------------------------------------------------------------------------------------------------------------------------------ Tabtext */	

#TabTextBox  {	position: relative; float: left; width: 100%; padding-bottom:20px; display:inline;}
	#TabTextBox h2	{	color: #333333;	font-size: 24px; margin-top: 20px;	font-weight: bold;	}
	#TabTextBox p 	{	line-height: 20px;	}
	
	#TabTextBox .tabbed-menu { float: left; width: 100%; }
	#TabTextBox .tabs {	margin: 0; padding: 0;  }
	#TabTextBox .tabs li { float: left; list-style: none; }
	#TabTextBox .tabs li a { padding: 10px 10px 0px 0px;	font-weight: bold;	text-decoration: none;	color: #888;	}
	#TabTextBox .tabs li a:hover {color: #333; }
	#TabTextBox .tabs li a:focus { }
	#TabTextBox .tabs li a.active, .tabs li a.active:hover {	color: #333;}
			
/* StartBox ------------------------------------------------------------------------------------------------------------------------------------------ StartBox */	

#sb_top {	position: relative; float: left; width: 100%; height: 11px; background-image: url('../../Images/Modules/StartBox/bg_top.gif'); background-repeat: no-repeat; font-size:1px;	}
#sb_bottom {	position: relative; float: left; width: 100%; height: 11px; background-image: url('../../Images/Modules/StartBox/bg_bottom.gif'); background-repeat: no-repeat; padding-bottom: 20px; }

#StartBox  {	position: relative; float: left; width: 100%; background-image: url('../../Images/Modules/StartBox/bg_main.gif'); background-repeat: repeat-y; }
	#StartBox #sb_divider {	position: relative; float: left; width:100%; height:2px; font-size: 1px; background-image: url('../../Images/Modules/StartBox/divider.gif');	}
	#StartBox h2	{	margin-top: 20px; color: #505050;	font-size: 14px; line-height: 18px; font-weight: bold; }
	#StartBox p 	{	margin: 20px 0px 20px 0px; line-height: 20px; color: #6D6D6D;}
	#StartBox img	{	border: solid 1px #959595;	}
	#StartBox .column { position: relative; float: left; width:205px; padding: 0px 10px 10px 10px }

/* Teaser Box  ------------------------------------------------------------------------------------------------------------------------------------------ Teaser Box */

.TeaserBox  {text-align:left;	font-size:1px; padding-bottom:20px;	}

	.TeaserBox h2	{	padding-top: 10px; margin: 0px; color: #333333;	font-size: 16px; font-weight: bold; }
	.TeaserBox p 	{	font-size: 12px; line-height: 20px; margin: 0px; padding: 10px 0px 10px 0px;	}
	.TeaserBox img	{	border: solid 1px #959595; margin: 10px 0px 10px 0px;	}
	.TeaserBox a	{	font-size: 12px;	}
	.TeaserBox #tb_top	  {	background-image: url('../../Images/Modules/TeaserBox/bg_top.gif'); height: 10px;	}
	.TeaserBox #tb_main	  {	background-image: url('../../Images/Modules/TeaserBox/bg_main.gif'); background-repeat: repeat-y; padding:0px 20px 0px 20px; }
	.TeaserBox #tb_bottom {	background-image: url('../../Images/Modules/TeaserBox/bg_bottom.gif'); height: 10px; 	}
	

/* Register Mail  ------------------------------------------------------------------------------------------------------------------------------------------ Register Mail */

#Register  {	position: relative; float: left; width: 100%; display:inline; font-size:5px;	}
	#Register h2	{	padding-top: 10px; margin: 0px; color: #333333;	font-size: 16px; font-weight: bold; }
	#Register p 	{	font-size: 12px; line-height: 20px; margin: 0px; padding: 10px 0px 10px 0px;	}
	#Register img	{	border: solid 1px #959595; margin: 10px 0px 10px 0px;	}
	#Register a		{	 font-size: 12px;	}
	#Register a.remove		{	 font-size: 10px;	}
	#Register #r_top {	background-image: url('../../Images/Modules/RegisterMail/bg_top.gif'); background-repeat: no-repeat; height: 10px;	}
	#Register #r_main{	background-image: url('../../Images/Modules/RegisterMail/bg_main.gif'); background-repeat: repeat-y; padding:0px 20px 0px 20px; }
	#Register #r_bottom {	background-image: url('../../Images/Modules/RegisterMail/bg_bottom.gif'); background-repeat: no-repeat; height: 10px; 	}
	#Register #r_button { background-color: #fff; border: solid 1px #ccc; float: right; padding: 5px;}
	#Register .form_textbox { background-color: #fff; border: solid 1px #ccc; padding: 5px; width: 165px; }
	#Register .form_dropdown { background-color: #fff; border: solid 1px #ccc; padding: 5px; width: 176px; }
	#Register em			{	 font-size: 11px; }
	#Register em.success	{	 color: green;	}
	#Register em.error		{	 color: red;	}


/* Unregister ------------------------------------------------------------------------------------------------------------------------------------------ Unregister */	

#Unregister  {	position: relative; float: left; width: 100%; display:inline; padding-bottom:20px; 	}
	#Unregister h1	{	color: #333333;	font-size: 24px;	font-weight: bold;	}
	#Unregister p 	{	line-height: 20px;	}	
	#Unregister .form_textbox { background-color: #fff; border: solid 1px #ccc; padding: 5px; width: 400px; }
	#Unregister #button { background-color: #fff; border: solid 1px #ccc; float: left; padding: 5px;}
	#Unregister em			{	 font-size: 11px; }
	#Unregister em.success	{	 color: green;	}
	#Unregister em.error		{	 color: red;	}
	
/* Tellafriend ------------------------------------------------------------------------------------------------------------------------------------------ Tellafriend */	

#Tellafriend  {	margin-left: 20px; margin-right: 20px; margin-top: 20px; 	}
	#Tellafriend h1	{	color: #333333;	font-size: 20px;	font-weight: bold;	}
	#Tellafriend h2	{	color: #333333;	font-size: 14px;	font-weight: bold;	}
	#Tellafriend p 	{	line-height: 20px;	}	
	#Tellafriend .form_textbox { background-color: #fff; border: solid 1px #ccc; padding: 5px; width: 200px; }
	#Tellafriend .button { background-color: #fff; border: solid 1px #ccc; float: left; padding: 5px;}
	#Tellafriend em			{	 font-size: 11px; }
	#Tellafriend em.success	{	 color: green;	}
	#Tellafriend em.error		{	 color: red;	}
	
	
	
/* SmallCart ---------------------------------------------------------------------------------------------------------------------------------------------- SmallCart */	
.SmallCart_style {	min-width: 312px; height: 33px; font-family: Arial; color: White; padding-right: 12px;	}
	.SmallCart_style #cart_icon {	float: left;	}
	.SmallCart_style #cart_text {	float: left; margin-top: 8px; margin-left: 9px;	}
	.SmallCart_style .open_cart_button_style {	float: right; margin-top: 7px;	}
	.SmallCart_style .to_checkout_button {	float: right; height: 16px; margin-top: 7px; background-color: #144450; margin-left: 5px; padding: 1px 5px 0px 5px; border: solid 1px #CCCCCC;	}
	.SmallCart_style .to_checkout_button_style {	color: #CCCCCC; text-decoration: none;	}
		
/* BigCart -------------------------------------------------------------------------------------------------------------------------------------------------- BigCart */	
#BigCart_body {	background-image: url('../../Images/Modules/Shop/big_cart_header.png'); background-repeat: repeat-x;	}
#BigCart_header {}
	#BigCart_header #BigCart_close_button_left	{	background-image: url('../../Images/Modules/Shop/big_cart_button_left.png'); width: 11px;	}
	#BigCart_header #BigCart_close_button_main	{	background-image: url('../../Images/Modules/Shop/big_cart_button_middle.png'); background-repeat: repeat-x;	}
	#BigCart_header #BigCart_close_button_right	{	background-image: url('../../Images/Modules/Shop/big_cart_button_right.png'); width: 11px;	}
	#BigCart_header a							{	color: #444444; text-decoration: none;	}
#BigCart_main {}
	#BigCart_main #BigCartItems_header			{	color: #333333; font-family: Arial; font-size: 12px;	}
	#BigCart_main #BigCartItems_row				{	background-image: url('../../Images/Modules/Shop/big_cart_repeater_bg.png'); background-repeat: repeat-x; height: 77px; color: #333333; font-family: Arial; font-size: 12px;	}
	#BigCart_main #BigCartItems_footer			{	background-image: url('../../Images/Modules/Shop/big_cart_repeater_footer_bg.png'); background-repeat: repeat-x; height: 115px; color: #333333; font-family: Arial; font-size: 12px;	}
	#BigCart_main #BigCart_delete_button_left	{	background-image: url('../../Images/Modules/Shop/big_cart_button_left_s.png'); width: 12px;	}
	#BigCart_main #BigCart_delete_button_main	{	background-image: url('../../Images/Modules/Shop/big_cart_button_middle_s.png'); background-repeat: repeat-x;	}
	#BigCart_main #BigCart_delete_button_right	{	background-image: url('../../Images/Modules/Shop/big_cart_button_right_s.png'); width: 12px;	}
	#BigCart_main #BigCart_update_button_left	{	background-image: url('../../Images/Modules/Shop/big_cart_button_left_s.png'); width: 12px;	}
	#BigCart_main #BigCart_update_button_main	{	background-image: url('../../Images/Modules/Shop/big_cart_button_middle_s.png'); background-repeat: repeat-x;	}
	#BigCart_main #BigCart_update_button_right	{	background-image: url('../../Images/Modules/Shop/big_cart_button_right_s.png'); width: 12px;	}
	#BigCart_main #BigCart_empty_button_left	{	background-image: url('../../Images/Modules/Shop/big_cart_button_left_s.png'); width: 12px;	}
	#BigCart_main #BigCart_empty_button_main	{	background-image: url('../../Images/Modules/Shop/big_cart_button_middle_s.png'); background-repeat: repeat-x;	}
	#BigCart_main #BigCart_empty_button_right	{	background-image: url('../../Images/Modules/Shop/big_cart_button_right_s.png'); width: 12px;	}
	#BigCart_main a								{	color: #444444; text-decoration: none;	}
	#BigCart_main .ProductImage					{	border: solid 1px #CCCCCC; width: 50px; margin-right: 7px;	}
	#BigCart_main #ProductTitle					{	font-size: 11px; font-weight: bold; color: #444444; margin-top: 2px; margin-bottom: 6px; width: 150px;	}
	#BigCart_main #ProductDesc					{	font-size: 11px; color: #444444; width: 150px;	}
	#BigCart_main .TotalWithShiping				{	font-size: 22px; font-weight: bold; color: #386900;	}
	#BigCart_main #TopTwoPricesLables			{	padding-bottom: 20px;	}
	#BigCart_main #TopTwoPrices					{	padding-bottom: 10px;	}

/* Checkout -------------------------------------------------------------------------------------------------------------------------------------------------- Checkout */	
#Checkout_body {	background-image: url('../../Images/Modules/Shop/big_cart_header.png'); background-repeat: repeat-x;	}
#Checkout_header {}
	#Checkout_header #Checkout_close_button_left			{	background-image: url('../../Images/Modules/Shop/big_cart_button_left.png'); width: 11px;	}
	#Checkout_header #Checkout_close_button_main			{	background-image: url('../../Images/Modules/Shop/big_cart_button_middle.png'); background-repeat: repeat-x;	}
	#Checkout_header #Checkout_close_button_right			{	background-image: url('../../Images/Modules/Shop/big_cart_button_right.png'); width: 11px;	}
	#Checkout_header a										{	color: #444444; text-decoration: none;	}
#Checkout_products_main {}
	#Checkout_products_main #Items_header					{	color: #333333; font-family: Arial; font-size: 12px;	}
	#Checkout_products_main #Items_row						{	background-image: url('../../Images/Modules/Shop/big_cart_repeater_bg.png'); background-repeat: repeat-x; height: 77px; color: #333333; font-family: Arial; font-size: 12px;	}
	#Checkout_products_main #Items_footer					{	background-image: url('../../Images/Modules/Shop/big_cart_repeater_footer_bg.png'); background-repeat: repeat-x; height: 115px; color: #333333; font-family: Arial; font-size: 12px;	}
	#Checkout_products_main #Checkout_delete_button_left	{	background-image: url('../../Images/Modules/Shop/big_cart_button_left_s.png'); width: 12px;	}
	#Checkout_products_main #Checkout_delete_button_main	{	background-image: url('../../Images/Modules/Shop/big_cart_button_middle_s.png'); background-repeat: repeat-x;	}
	#Checkout_products_main #Checkout_delete_button_right	{	background-image: url('../../Images/Modules/Shop/big_cart_button_right_s.png'); width: 12px;	}
	#Checkout_products_main #Checkout_update_button_left	{	background-image: url('../../Images/Modules/Shop/big_cart_button_left_s.png'); width: 12px;	}
	#Checkout_products_main #Checkout_update_button_main	{	background-image: url('../../Images/Modules/Shop/big_cart_button_middle_s.png'); background-repeat: repeat-x;	}
	#Checkout_products_main #Checkout_update_button_right	{	background-image: url('../../Images/Modules/Shop/big_cart_button_right_s.png'); width: 12px;	}
	#Checkout_products_main #Checkout_empty_button_left		{	background-image: url('../../Images/Modules/Shop/big_cart_button_left_s.png'); width: 12px;	}
	#Checkout_products_main #Checkout_empty_button_main		{	background-image: url('../../Images/Modules/Shop/big_cart_button_middle_s.png'); background-repeat: repeat-x;	}
	#Checkout_products_main #Checkout_empty_button_right	{	background-image: url('../../Images/Modules/Shop/big_cart_button_right_s.png'); width: 12px;	}
	#Checkout_products_main a								{	color: #444444; text-decoration: none;	}
	#Checkout_products_main .ProductImage					{	border: solid 1px #CCCCCC; width: 50px; margin-right: 7px;	}
	#Checkout_products_main #ProductTitle					{	font-size: 11px; font-weight: bold; color: #444444; margin-top: 2px; margin-bottom: 6px; width: 150px;	}
	#Checkout_products_main #ProductDesc					{	font-size: 11px; color: #444444; width: 150px;	}
	#Checkout_products_main .TotalWithShiping				{	font-size: 22px; font-weight: bold; color: #386900;	}
	#Checkout_products_main #TopTwoPricesLables				{	padding-bottom: 20px;	}
	#Checkout_products_main #TopTwoPrices					{	padding-bottom: 10px;	}
#PaymentMethods												{	padding: 10px 10px 10px 10px;	}	
	#PaymentMethods .PaymentMethodsText						{	font-family: Arial; font-weight: bold; font-size: 14px;	}
#DeliveryInfo												{	padding: 10px 10px 10px 10px;	}
	#DeliveryInfo .DeliveryInfoTitle						{	font-family: Arial; font-weight: bold; font-size: 14px;	}
	
/* ProductBrowser Box  ------------------------------------------------------------------------------------------------------------------------------------------ Teaser Box */

#ProductBrowser								{	border: none; float:left; width:708px;	}
	#ProductBrowser h2						{	padding-top: 0px; margin-top: 0px; color: #333333;	font-size: 24px; font-weight: bold;	}
	#ProductBrowser #pb_arrow				{	width: 20px; height: 49px; border: none; background-image: url('../../Images/Modules/Boxes/productbrowser_arrow_middle.gif'); background-repeat: no-repeat;	}
	#ProductBrowser #pb_productinfo_top		{	border: none; height: 49px; background-image: url('../../Images/Modules/Boxes/productbrowser_gray_top.gif'); background-repeat: no-repeat;	}
	#ProductBrowser #pb_productinfo_middle	{	background-image: url('../../Images/Modules/Boxes/productbrowser_gray_middle.gif'); background-repeat: repeat-y;	}
	#ProductBrowser #pb_productinfo_bottom	{	height: 47px; background-image: url('../../Images/Modules/Boxes/productbrowser_black_bottom.gif'); background-repeat: no-repeat;	}
	.ProductBrowser_SpecialPrice			{	background-image: url('../../Images/Modules/Boxes/productbrowser_special_price.png'); width: 217px; height: 25px; margin-left: 20px;	}
	.ProductBrowser_OldPrice				{	font-family: Arial, Helvetica; color: #C44445; text-decoration: line-through; padding-top: 10px; padding-left: 40px; padding-bottom: 10px;	}
	#ProductBrowser_Price					{	font-family: Arial, Helvetica; color: #144651; font-size: 30px; font-weight: bold; padding-left: 40px;	}
	#ProductBrowser_Text					{	font-family: Arial, Helvetica; color: #3E7578; font-size: 11px; padding-top: 10px; padding-left: 40px; margin-right: 55px; padding-bottom: 20px;	}
	.ProductBrowser_SelectionsTitle			{	font-family: Arial, Helvetica; padding-left: 16px; padding-top: 10px; margin: 0px; color: Black;	font-size: 16px; font-weight: bold;	}
	.ProductBrowser_Header					{	font-family: Arial, Helvetica; padding-left: 16px; padding-top: 10px; margin: 0px; color: #333333;	font-size: 14px; font-weight: bold;	}
	.ProductBrowser_Text				 	{	font-family: Arial, Helvetica; padding-left: 0px; font-size: 12px; line-height: 20px; color: #6D6D6D; margin: 0px;	}
	.ProductBrowser_ChoicesList				{	font-family: Arial, Helvetica; padding-left: 16px; padding-top: 15px; color: #636363; line-height: 30px;	}
	#ProductBrowser_Quantity				{	font-family: Arial, Helvetica; text-align: center; color: #636363; padding-bottom: 38px; padding-top: 23px;	}
	.ProductBrowser_Link					{	font-family: Arial, Helvetica; padding-left: 16px; padding-top: 10px; margin: 0px; color: #ffffff;	text-decoration: none;font-size: 14px; font-weight:normal;	}
	#Gallery_tabs							{	color: #000000;	}
	
/* Category -------------------------------------------------------------------------------------------------------------------------------------------------- Category */		
		
#Category	{}
	#Category h2	{	padding-top: 0px; margin-top: 0px; color: #333333;	font-size: 24px; font-weight: bold; }
	#Category h3	{	padding-top: 10px; margin: 0px; color: #333333;	font-size: 16px; font-weight: bold; }
	
/* Product Teaser  ------------------------------------------------------------------------------------------------------------------------------------------ Product Teaser */

.ProductTeaser  {text-align:left;	font-size:1px; padding-bottom:20px;	}
	.ProductTeaser h2	{	padding-top: 10px; margin: 0px; color: #333333;	font-size: 16px; font-weight: bold; }
	.ProductTeaser p 	{	font-size: 12px; line-height: 20px; margin: 0px; padding: 10px 0px 10px 0px;	}
	.ProductTeaser img	{	border: solid 1px #959595; margin: 10px 0px 10px 0px;	}
	.ProductTeaser a	{	font-size: 12px;	}
	.ProductTeaser #tb_top	  {	background-image: url('../../Images/Modules/TeaserBox/bg_top.gif'); height: 10px;	}
	.ProductTeaser #tb_main	  {	background-image: url('../../Images/Modules/TeaserBox/bg_main.gif'); background-repeat: repeat-y; padding:0px 20px 0px 20px; }
	.ProductTeaser #tb_bottom {	background-image: url('../../Images/Modules/TeaserBox/bg_bottom.gif'); height: 10px; 	}

/* Puffer -------------------------------------------------------------------------------------------------------------------------------------------------- Puffer */		
#Puffer_container {}

.PufferTitle
{
	font-size: 20px;
	color: #8CC640;
}

/* TopMenu -------------------------------------------------------------------------------------------------------------------------------------------------- TopMenu */		

#topmenu_holder {}
	#topmenu_holder #cart_holder {	float: right;	}
	#topmenu_holder #search_input {	background-image: url('../../Images/Modules/Search/input_bg.png'); background-repeat:no-repeat; width:144px;	}
	#topmenu_holder #toltip_left {	background-image: url('../../Images/Modules/HM/tooltip/bg_left.png'); background-repeat:no-repeat; width: 9px; height: 22px;	}
	#topmenu_holder #toltip_main {	background-image: url('../../Images/Modules/HM/tooltip/bg_main.gif'); background-repeat:repeat-x;padding-bottom: 1px; padding-right:4px;	}
	#topmenu_holder #toltip_right {	background-image: url('../../Images/Modules/HM/tooltip/bg_right.png'); background-repeat:no-repeat; width: 9px; height: 22px;	}

/* SubMenu2 -------------------------------------------------------------------------------------------------------------------------------------------------- SubMenu2 */		
		
#SubMenu2_	{	position: relative; float: left; width:215px; height: 100%; font-size:1px;	}
	#SubMenu2_ #SubMenu2_bg {	position:absolute; top:-20px; left: 150px; width:65px; height: 227px; background-image: url('../../Images/Site/SubMenu2/bg_trans.gif');	}	
	
/* Extra Menu  ------------------------------------------------------------------------------------------------------------------------------------------ Extra Menu */

#ExtraMenu_container {	position:relative; float: left; width:520px;	}
	#ExtraMenu_container #tooltp_left {	background-image: url('../../Images/Modules/HM/tooltip/bg_left.png'); background-repeat:no-repeat; width: 9px; height: 22px;	}
	#ExtraMenu_container #tooltp_main {	background-image: url('../../Images/Modules/HM/tooltip/bg_main.gif'); background-repeat:repeat-x;padding-bottom: 1px; padding-right:4px;	}
	#ExtraMenu_container #tooltp_right {	background-image: url('../../Images/Modules/HM/tooltip/bg_right.png'); background-repeat:no-repeat; width: 9px; height: 22px;	}
	#ExtraMenu_container #add_btn_left {	background-image: url('../../Images/Modules/HM/Buttons/btn_add_left.gif'); background-repeat:no-repeat; width: 22px; height: 20px;	}
	#ExtraMenu_container #add_btn_center {	background-image: url('../../Images/Modules/HM/Buttons/btn_add_bg.gif'); background-repeat:repeat-x;padding-bottom: 1px;	}
	#ExtraMenu_container #add_btn_right {	background-image: url('../../Images/Modules/HM/Buttons/btn_add_right.gif'); background-repeat:no-repeat; width: 12px; height: 20px;	}
	#ExtraMenu_container #username {	background-image: url('../../Images/Modules/LoginUser/form_login_username.gif'); background-repeat:no-repeat; width:134px; height: 10px; text-align:left;	}
	#ExtraMenu_container #pass {	background-image: url('../../Images/Modules/LoginUser/form_login_pass.gif'); background-repeat:no-repeat; width:119px; height: 10px; text-align:left;	}
	#ExtraMenu_container #login_left {	background-image: url('../../Images/Modules/LoginUser/btn_left.gif'); background-repeat:no-repeat; width: 9px; height: 20px;	}
	#ExtraMenu_container #login_center {	background-image: url('../../Images/Modules/LoginUser/btn_bg.gif'); background-repeat:repeat-x;padding-bottom: 1px;	}
	#ExtraMenu_container #login_right {	background-image: url('../../Images/Modules/LoginUser/btn_right.gif'); background-repeat:no-repeat; width: 9px; height: 20px;	}

/* ForgotPassWindow, ProfileWindow & RegisterWindow  ------------------------------------------------------------------------------------------------------------------------------------------ ForgotPassWindow, ProfileWindow & RegisterWindow */

#txt_company {	background-image: url('../../Images/Modules/LoginUser/form_login_long.gif'); background-repeat:no-repeat; width:128px; height: 17px; text-align:left;	}
#btn_add_left {	background-image: url('../../Images/Modules/HM/Buttons/btn_add2_left.gif'); background-repeat:no-repeat; width: 10px; height: 20px;	}
#btn_add_main {	background-image: url('../../Images/Modules/HM/Buttons/btn_add_bg.gif'); background-repeat:repeat-x;padding-bottom: 1px;	}
#btn_add_right {	background-image: url('../../Images/Modules/HM/Buttons/btn_add_right.gif'); background-repeat:no-repeat; width: 12px; height: 20px;	}
#btn_left {	background-image: url('../../Images/Modules/LoginUser/btn_left.gif'); background-repeat:no-repeat; width: 9px; height: 22px;	}
#btn_main {	background-image: url('../../Images/Modules/LoginUser/btn_bg.gif'); background-repeat:repeat-x; padding-top: 1px; height: 22px;	}
#btn_right {	background-image: url('../../Images/Modules/LoginUser/btn_right.gif'); background-repeat:no-repeat; width: 9px; height: 22px;	}
	
/* UserList  ------------------------------------------------------------------------------------------------------------------------------------------ UserList */

#UserList {	position: relative; float: left; width:215px; height: 100%;	}
	#UserList #trans {	position:absolute; top:-20px; left: 150px; width:65px; height: 227px; background-image: url('../../Images/Site/SubMenu2/bg_trans.gif');	}

/* Gallery Box 2  ------------------------------------------------------------------------------------------------------------------------------------------ Gallery Box 2 */


div.content {
	/* The display of content is enabled by a javascript generated style on the page.
	   This is so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float:right;
	width:428px; 
}
div.controls {
	height: 23px;
}
div.ss-controls {
	float: left;
}
div.ss-controls span {
	color: #ffffff;
	cursor: pointer;
}
div.nav-controls {
	float: right;
}
div.nav-controls a {
}
div.slideshow {
	clear: both;
}
div.slideshow span.image-wrapper {
	float: left;
}
div.slideshow a.advance-link {
	display: block;
	border: 1px solid #E4E4E4;
}
div.slideshow img {
	border: none;
	display: block;
	width: 428px;
}
div.download {
	float: right;
}
div.embox {
	clear: both;
	border: 1px solid #ffffff;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}

div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	/* The navigation style is set by a javascript generated style on the page.
	   This is so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	float: left;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	width: 57px;
	/*float: left;*/
	padding: 0;
	margin: 4px 4px 0px 0px;
	list-style: none;
}
ul.thumbs li a {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
}
ul.thumbs li.selected a {
	background: #ffffff;
}
ul.thumbs a:focus {
	outline: none;
}
ul.thumbs img 
{
	width: 50px;
	height: 50px;
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}

div.navigation div.bottom {
}
div.pagination a, div.pagination strong {
	display: block;
	float: left;
	margin-right: 2px;
	margin-top: 5px;
	padding: 4px;
	border: 1px solid #ccc;
	color: #E4E4E4;
	 
}
div.pagination a:hover {
	background-color: #EAE8E8;
	text-decoration: none;
}
div.pagination strong {
	background-color: #2E404A;
	color: #fff;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FONT SIZER CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fontResizer { display: block; position: absolute; position: absolute; top: 0; left: 0; }
.fontResizer a { display: block; float: left; width: 17px; height: 17px; text-align: center; border: 1px solid #ccc; line-height: 15px; color: #666; text-decoration: none; }
.fontResizer a:hover { color: #000; text-decoration: none; }

.smallFont { font-size: 9px; }
.medFont { font-size: 13px; }
.largeFont { font-size: 15px; }
.curFont { background: #EEEEF7; }